{% extends "site_base.html" %}
{% load i18n i18ninclude mks search %}
{% load avatar_tags %}
{% load common_tags %}
{% block description %}{% trans 'Open Knesset - Opening the Knesset to the public' %}. {% trans 'Non partisan, non commercial site that brings you relevant, detailed and accurate information about the knesset' %}{% endblock %}
{% block extratitle %}{% trans 'Home' %}{% endblock %}
{% block nav-main-page %} class="selected" {% endblock %}
{% block subnav %}
<div style="text-align:center;">
<p><a href="{% url help %}" style="float:left;">מה אפשר לעשות באתר? </a></p>
       <div id="main-search">{% search_form "search_page" %}</div>
</div>
{% endblock %}
{% block divcontent %}
<div style="width:90%; margin:0 5%;">
    <div id="main-news"  class="display_note_outer" > 
<h3>החורף לא עוזבים את הכנסת!</h3>
<p style="padding:1em; font-size:120%;">
מתנדבי כנסת פתוחה מאמינים בשקיפות ושיתוף הציבור כבסיס לשלטון טוב יותר. במושב החורף הקרוב, נתמוך ב'משמר החברתי' שיצא ממחאת האוהלים ומטרתו לערב יותר אזרחים בפעילות הכנסת למען צדק חברתי.  
<br/>
במהלך המושב נפתח אפליקציה חדשה <a href="https://docs.google.com/document/d/1Jhl677nEss5h8t3z3dugwvaNeaqaZGUcfuKIR9zcGp0/edit?hl=en_US">שבטים</a> שתאפשר לכנסת פתוחה לתמוך בקבוצות אזרחים החולקים כאבים משותפים, מפתחים חזון משותף ופועלים בכנסת להגשמתו. 
<br> 
<br> 
<a href="http://www.hamishmar.org.il">
<img src="http://hamishmar.org.il/images/intrologo.jpg" />
<br>הציבור מוזמן</a> 
<br> 
<br> 
<a href="http://blog.yeda.us/2011/10/18/moshav1/" style="font-size:70%">מה קרה לכנס בין כסה לעשור?</a>
 </p></div>
    <div id="main-hasadna" class="display_note_outer">
        <a href="http://yeda.us/"><img src="/static/img/hasadna-logo.png" style="width:50px; float:left"></a>
        <p>פרויקטים נוספים של <a href="http://yeda.us/">הסדנא</a></p>
            <h3><a href="http://prezi.com/nio4fr-1co0d/opening-the-israeli-budget/">פותחים את תקציב המדינה</a></h3>
    </div>
     <div id="main-help" class="display_note_outer">
        <p>
        רוצים לדעת איך זה עובד או להצטרף ולעזור?</p>
        <a href="{% url about %}">קראו עוד אודות הפרויקט</a>
    </div>
    <div id="main-about" class="display_note_outer">
        <h3><a href="/about/">אודותינו</a></h3>
        האתר מאפשר לכל אזרח להשתתף באורח פעיל יותר בפעילות הכנסת. 
        אנו סורקים את אתר הכנסת ומקורות מידע רשמיים ובאמצעות אלגוריתמים חישוביים וצוות עורכים מסור, מסדרים ומארגנים את המידע לנוחות
        המשתמש.
            האתר עדיין בפיתוח, ואנו מתנצלים מראש על באגים ושגיאות בנתונים.
    </div>
</div>
<div class="clear"></div>

<div class="display_note_outer" style="clear:both; margin:2em auto; width: 90%;">
    <div class="display_note alt" style="width:50%; height: 100%;">
        <h3>הצעות אחרונות לסדר</h3>
        {% include "committees/_topics_summary.html" %}
    </div>
    <div class="display_note " style="width:50%; height: 100%;">
        <h3>{% trans "Latest Annotations and comments" %}</h3>
    <div class="annotations item-list">
        {% for a in annotations %}
            <div class="clear item {% cycle "alt" "normal" %}">
                {{ a }}
                {% object_stamp a %}
            </div>
        {% empty %}
            <li>{% trans "No annotations yet..." %}
        {% endfor %}
    </div>
    </div>
</div>
{% endblock %}
